<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.umeed">
    <!-- <meta-data -->
    <!-- android:name="com.google.android.geo.API_KEY" -->
    <!-- android:value="c6876b5d49ea97ff0366db60c1a29101" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Umeed"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activity.FAQsGuest"
            android:exported="false" />
        <activity
            android:name=".Activity.FAQsRegisater"
            android:exported="false" />
        <activity
            android:name=".Activity.ComplaintsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.FAQs"
            android:exported="false" />
        <activity
            android:name=".Activity.ReportsList"
            android:exported="false" />
        <activity
            android:name=".Activity.BookingInfoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.BookingActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MapActivity"
            android:exported="false" />
        <activity
            android:name=".Chat.ChatInfo"
            android:exported="false" />
        <activity
            android:name=".Activity.BloodInfo"
            android:exported="false" />
        <activity
            android:name=".Activity.BloodList"
            android:exported="false" />
        <activity
            android:name=".Activity.WebView"
            android:exported="false" />
        <activity
            android:name=".Activity.Policies"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCFJ2w6D8r0Lcs8olpaf6L5gKWIoErEC_g" />

        <activity
            android:name=".Activity.LabInfo"
            android:exported="false" />
        <activity
            android:name=".Activity.LabList"
            android:exported="false" />
        <activity
            android:name=".Activity.DoctorList"
            android:exported="false" />
        <activity
            android:name=".Activity.DoctorInfo"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ShoppingKeyFrameAnimation"
            android:exported="false" />
        <activity
            android:name=".Activity.HospitalInfo"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".Activity.HospitalList" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".Activity.HospitalList"
            android:exported="false" />
        <activity
            android:name=".Activity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.AadharPage"
            android:exported="false" />
        <activity
            android:name=".Activity.ChooseSignUp"
            android:exported="false" />
        <activity
            android:name=".Activity.Login"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".Map.MapPermission"
            android:exported="false" />
        <activity
            android:name=".Activity.SignUp"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".Activity.HomePage"
            android:exported="false" />
    </application>

</manifest>